/*
===================================
===================================
Styles for an individual page

- Rename this file to match the page you are working on (e.g. home.css, about.css, etc.)
- Create a new file for your page and link this file to it in the <head> of your HTML document
- Variables from global.css will work in this CSS file as well. Do not add any variables to this file.
===================================
===================================
*/

/* 
===================================
Page Component Styles (icon grid, team member card)
===================================
*/

.wrapper {
	max-width: var(--mobile-wrapper-width);
	margin: none;
}

.invis-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-text {
	border: 2px solid transparent;
	width: 369px;
}

/* making text content black and centering it */
.h3-styles,
section div p {
	color: var(--color-onyx);
	text-align: center;
}

h3 {
	font-family: var(--main-font);
	font-size: var(--font36);
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height40);
	margin-bottom: var(--spacing20);
}

section div p {
	font-family: var(--main-font);
	font-size: var(--font16);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height20);
	margin-bottom: var(--spacing100);
}

p,
.h4-styles {
	color: var(--color-onyx);
}

.h4-styles {
	text-align: center;
}

.signature {
	font-size: var(--font21);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height26);
	color: var(--color-onyx);
}

/* Styles for the container */
.btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--spacing20);
	margin-top: var(--spacing65);
	margin-bottom: var(--spacing65);
}

.about-wrapper .button3 {
	display: flex;
	align-items: center;
}

.about-wrapper a:visited {
	color: var(--color-white);
}
/* 
===================================
Section Styles (background, padding, etc.)
===================================
*/

/* 
===================================
Media Queries (overriding styles for different screen sizes)

Note: Here we are using a mobile-first approach, so we start with the smallest screen size and work our way up.
Start by writing styles for the mobile version of the design on the lines above.
Anything that needs to change for larger screens should be added to the media queries below.

Feel free to change the min/max-width values to whatever you need. Use variables.
===================================
*/

/* Tablet Only */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* Add styles that only apply to tablet. These are usually fixes to get responsiveness right */
}

/* working good up to until 1226 to 768, needs another adjustment for media query in future */

/* Tablet and Larger */
@media screen and (min-width: 768px) {
	/* Add styles that apply to table and desktop */
	.wrapper {
		max-width: var(--desktop-wrapper-width);
	}

	.hero {
		position: relative;
		max-width: 100%;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			107deg,
			rgba(9, 9, 9, 0.8) 9.51%,
			rgba(9, 9, 9, 0) 76.72%
		);
		z-index: 1; /* Ensures the overlay is on top of the image */
	}

	.hero-text {
		position: absolute;
		z-index: 10;
		top: 43%;
		width: 25%;
		min-width: 400px;
		border: 2px solid transparent;
		left: 31%;
		transform: translate(-50%, -33%);
	}

	.about-wrapper {
		max-width: 800px;
		margin-bottom: 200px;
	}

	.h3-styles,
	section div p {
		color: var(--color-white);
	}

	.h3-styles {
		font-family: var(--main-font);
		font-size: var(--font56);
		font-style: normal;
		font-weight: var(--font-weight-bold);
		line-height: var(--line-height58);
		text-align: left;
	}

	section div p {
		font-family: var(--main-font);
		font-size: var(--font21);
		font-weight: var(--font-weight-regular);
		line-height: var(--line-height26);
		margin-bottom: 0px;
		text-align: left;
	}

	.h4-styles {
		font-size: var(--font46);
		font-weight: var(--font-weight-bold);
		line-height: var(--line-height50);
		text-align: left;
		margin-top: var(--spacing164);
		margin-bottom: 0px;
	}

	p {
		font-size: var(--font21);
		font-weight: var(--font-weight-regular);
		line-height: var(--line-height26);
		color: var(--color-onyx);
	}

	.signature {
		margin-top: var(--spacing40);
	}

	.btn-container {
		display: none;
		/* text-decoration: none; */
	}
}

/* Desktop Only */
@media screen and (min-width: 1024px) {
	/* Add styles that apply specifically to desktop */
	.signature {
		font-size: var(--font24);
		font-weight: var(--font-weight-medium);
		line-height: var(--line-height28);
	}
}
