/*
===================================
===================================
Styles for an individual page

- Rename this file to match the page you are working on (e.g. home.css, about.css, etc.)
- Create a new file for your page and link this file to it in the <head> of your HTML document
- Variables from global.css will work in this CSS file as well. Do not add any variables to this file.
===================================
===================================
*/

/* 
===================================
Page Component Styles (icon grid, team member card)
===================================
*/

/* 
===================================
Section Styles (background, padding, etc.)
===================================
*/
/* title section */
.title {
	text-align: center;
}
.title-img {
	width: 100%;
	height: 250px;
	background-image: url("/assets/images/pages/events/title.png");
	background-repeat: no-repeat;
	background-size: cover;
	
}
.title h2 {
	font-size: var(--font36);
	font-family: var(--main-font);
	line-height: var(--line-height40);
}
.title p {
	color: var(--ONYX, #424241);
	text-align: center;
}



h3 {
	font-size: 28px;
	line-height: var(--line-height32);
	margin: 0px;
}
/* Event cards */
/* event card img */
.event-card-img {
	width: 100%;
	/* might need to change height later */
	height: 200px;

	/* just until we have the assets */
	border: 1px black solid;
}

/* Card title boxes */
.event-card-title {
	width: 100%;
	height: 130px;
	text-align: center;
	padding:20px;
	border-radius: 10px;
}
.event-card-title h3 {
	margin-bottom: 20px;
}

/* card title box background colors */
.card-item1 .event-card-title {
	background-color: var(--color-yaleblue);
}
.card-item2 .event-card-title {
	background-color: var(--color-cybergrape);
}
.card-item3 .event-card-title {
	background-color: var(--color-copper);
}
.card-item4 .event-card-title {
	background-color: var(--color-teal);
}

.event-card-text p {
	color: var(--color-onyx);
}


/* Upcoming Events and Programs */
.upcoming-events {
	margin-bottom: 80px;
}
h4 {
	margin: 20px 0px;
	color: var(--color-onyx);
}
.h4-title {
	text-align: center;
}
/* upcoming events img */


/* upcoming events text */
.event-info p {
	color: var(--color-onyx);
}

/* Previous Events */
.previous-events {
	margin-bottom: 80px;
}

/* 
===================================
Media Queries (overriding styles for different screen sizes)

Note: Here we are using a mobile-first approach, so we start with the smallest screen size and work our way up.
Start by writing styles for the mobile version of the design on the lines above.
Anything that needs to change for larger screens should be added to the media queries below.

Feel free to change the min/max-width values to whatever you need. Use variables.
===================================
*/

/* Tablet Only */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* Add styles that only apply to tablet. These are usually fixes to get resposnivenes right */
}

/* Tablet and Larger */
@media screen and (min-width: 768px) {
	/* Add styles that apply to table and desktop */
}

/* Desktop Only */
@media screen and (min-width: 1024px) {
	/* Add styles that apply specifically to desktop */
}
