/* everything is wonky - on my screen it cuts off on the left - on Gurjeets screen it cuts off on the right or works fine. Looks fine at size 390 */
html {
	box-sizing: border-box;
}

.template-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* width: var(--mobile-wrapper-width);
	margin: 0 auto;
	max-width: var(--wrapper-width-max); */
}

.template-wrapper img {
	align-items: center;
}

.template-main-header {
	text-align: center;
	color: var(--color-onyx);
	padding: 0 20px 0px 20px;
}

.template-p {
	color: var(--color-onyx);
	padding: 0 20px 0px 20px;
}

.template-button {
	display: flex;
	padding: 40px 45px 150px 40px;
}

.button3 {
	min-width: 300px;
	min-height: 50px;
	padding: 11px 92px;
	border: none;
	border-radius: 10px;
	background-color: var(--button2-color);
	color: var(--color-white);
	font-family: var(--main-font);
	font-weight: var(--font-weight-bold);
	font-size: var(--font21);
	cursor: pointer;
}
.button3:hover,
.button3:focus {
	background-color: var(--button3-hover-border);
	color: var(--color-onyx);
}

.template-hero-img {
	padding-top: 80px;
}

.template-main-header {
	padding-top: 60px;
}

.template-gradient {
	display: block;
	min-width: 390px;
	min-height: 73px;
	background-image: linear-gradient(180deg, #184f85 -29.55%, #6c4681 118.18%);
}
.template-highlights {
	color: var(--color-white);
	text-indent: 20%;
}
.template-concept-img {
	padding-top: 40px;
}

.template-three-img {
	padding-top: 60px;
	padding-bottom: 100px;
}

/* Tablet Only */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* Add styles that only apply to tablet. These are usually fixes to get resposnivenes right */
}

/* Tablet and Larger */
@media screen and (min-width: 768px) {
	/* Add styles that apply to table and desktop */
}

/* Desktop Only */
@media screen and (min-width: 1024px) {
	/* Add styles that apply specifically to desktop */

	.template-wrapper {
		display: flex;
		flex-direction: column;
	}
	.template-button {
		justify-content: center;
		padding: 31px 714px 139px 714px;
	}
}
