/*
===================================
===================================
Styles for home-page

===================================
===================================
*/
/* this is to align text in the center throughout the entire design */
.align-text {
	text-align: center;
	
}
/* 
===================================
Page Component Styles (icon grid, team member card)
===================================
*/
/* hero section */
.hero-image img {
	margin: 0;
	border-radius: 0;
}

.text-container {
	margin: var(--spacing20);
}
.text-container-subsection {
	margin: var(--spacing10);
	padding-bottom: var(--spacing10);
}

.hero-description {
	margin: var(--spacing10);
}
/* community partnerships section */
.community .card-img img{
	width: 100%;
	border-radius: 0;
}

/* what we do section */
.digital-fluency {
	background-color: var(--color-teal);
}

.community-engagement {
	background-color: var(--color-copper);
}

.technology-programs {
	background-color: var(--color-yaleblue);
}

.card-img img {
	width: 100%;
	border-radius: 10px 10px 0 0;
}


/* our values section */

.our-values {
	margin: 0 auto;
	padding: 15px;
	width: 90%;
	border-radius: 10px;
	background-color: var(--color-yaleblue);

}


/* 
===================================
Section Styles (background, padding, etc.)
===================================
*/

/* hero section */
.hero {
	margin: 0, auto;
}

.hero-home {
	display: flex;
	flex-direction: column;
	

}

/* this overrides the global style of white text */
.alternate {
	color: var(--color-onyx);
}

/* button styles - likely will be replaced later */
.button1 {
	display: flex;
	width: 300px;
	height: 50px;
	padding: 11px 92px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	gap: 10px;
	flex-shrink: 0;
	border-radius: 10px;
	border-color: var(--color-white);
	background: rgb(0, 0, 0, 0);
	color: var(--color-white);
	cursor: pointer;
	border: 3px solid var(--color-white);
	font-family: var(--main-font);
	font-size: var(--font21);
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height26);
}

.button1:hover {
	background: var(--color-white);
	color: var(--color-onyx);
}

.button3 {
	display: flex;
	width: 300px;
	height: 50px;
	padding: 11px 92px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	gap: 10px;
	flex-shrink: 0;
	border-radius: 10px;
	background: var(--button3-color);
	color: var(--color-white);
	cursor: pointer;
	border: none;
	font-family: var(--main-font);
	font-size: var(--font21);
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height26);
}

.button3:hover {
	/* background: var(--button3-hover-border); */
	background: rgb(0, 0, 0, 0);
	border: 3px solid var(--button3-color);
	color: var(--color-onyx);
}

/* community partnerships section */
.community {
	background-color: var(--color-amaranth);
	padding-bottom: 50px;
	
}

/* A global ecosystem section */
.ecosystem {
	background-color: var(--color-cybergrape);
	padding-top: var(--spacing10);
	padding-bottom: 50px;
		
}
.blockquote {
	margin: 0 auto;
	padding: 15px;
	width: 90%;
	border-radius: 10px;
	background-color: var(--color-onyx);
}

/* what we do section */

.what-we-do {
	padding-bottom: var(--spacing40);	
}

.card {
	border: none;
	border-radius: 10px;
	padding-bottom: var(--spacing20);
	margin: var(--spacing20) 0;
}
.card .text-container {
	margin: var(--spacing20);
}


/* our values section */
.values {
	background-color: var(--color-onyx);
	padding-top: var(--spacing20);
	padding-bottom: var(--spacing40);
}

/* events and programs section */
.events-and-programs {
	color: var(--color-onyx);
}

.events-and-programs img {
	margin: 0 auto;
}

.event-description {
	margin: var(--spacing20);
}

/* 
===================================
Media Queries (overriding styles for different screen sizes)

Note: Here we are using a mobile-first approach, so we start with the smallest screen size and work our way up.
Start by writing styles for the mobile version of the design on the lines above.
Anything that needs to change for larger screens should be added to the media queries below.

Feel free to change the min/max-width values to whatever you need. Use variables.
===================================
*/

/* Tablet Only */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* Add styles that only apply to tablet. These are usually fixes to get resposnivenes right */

	h3 {
		color: var(--color-onyx);
	}
}

/* Tablet and Larger */
@media screen and (min-width: 340px) {
	/* Add styles that apply to tablet and desktop */

	h3 {
		color: var(--color-onyx);
	}
}

/* Desktop Only */
@media screen and (min-width: 1024px) {
	/* hero section */
	.hero {
		position: relative;
	}

	.hero .btn-container {
		display: flex;
		justify-content: space-around;
	}
	.hero .button3 {
		display: none;
	}
	.hero img {
		object-fit: fill;
		
	}

	.hero-home {
		position: absolute;
		z-index: 10;
		bottom: 10%;
		max-width: var(--wrapper-width-max);
		/* border: 2px solid red; */
		left: 50%;
		transform: translate(-50%, 0%);
	}
	/* global ecosystem section */
	.ecosystem {
		background: url(../assets/images/pages/home/bg-overlay-vector-01.svg),
			var(--color-bluepurple);
		background-size: cover;
	}
	/* our values section */
	.values {
		background-image: url(../assets/images/pages/home/values.jpg);
	}
	/* events and programs section */
	.events-and-programs {
		background: url(../assets/images/pages/home/bg-overlay-vector-02.svg),
			var(--color-bluepurple);
		background-size: cover;
	}
}
