/*
===================================
===================================
Styles for an individual page

- Rename this file to match the page you are working on (e.g. home.css, about.css, etc.)
- Create a new file for your page and link this file to it in the <head> of your HTML document
- Variables from global.css will work in this CSS file as well. Do not add any variables to this file.
===================================
===================================
*/

/* need to add wrapper */
/* red background for bottom section needs fixing */
/* some text changes from white to black when in desktop mode */
/* blue background for support us needs fixing */
/* heart color and gap needed for support us */
/* white icons in support us need flexbox to move side by side in desktop mode */
/* align title text to center somehow hoping wrapper fixes some stuff */
html {
	/* does this need before and after */
	box-sizing: border-box; 
}
body {
	width: var(--mobile-wrapper-width);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* border: none; */
	/* border-radius: 10px; */
	/* padding: var(--spacing20); */
	/* margin: var(--spacing20) 0; */
}


/* 
===================================
Page Component Styles (icon grid, team member card)
===================================
*/
.card{
	border: none;
	border-radius: 10px;
	padding: var(--spacing20);
	margin: var(--spacing20) 0;
}
/* Turns Our Values Title Black */
.h3-black {
	color: var(--color-onyx);
}
.values-head p {
	color: var(--color-onyx);
}
/* Adds a background color in lieu of those rectangle shapes */
.copperback {
	background-color: var(--color-copper);
}
.copperback p {
	color: var(--color-white);
}
/* Adds a background color in lieu of those rectangle shapes */

.onyxback {
	background-color: var(--color-onyx);
}
.onyxback p {
	color: var(--color-white);
}
/* Adds a background color in lieu of those rectangle shapes */

.amaraback {
	background-color: var(--color-amaranth);
}

/* Adds a background color in lieu of those rectangle shapes */

.grapeback {
	background-color: var(--color-cybergrape);
}
/* Adds a background color in lieu of those rectangle shapes */

.blueback {
	background-color: var(--color-yaleblue);
}
/* Adds a background color in lieu of those rectangle shapes */

.tealback {
	background-color: var(--color-teal);
}
/* Adds a background color in lieu of those rectangle shapes */

.support {
	background-color: var(--color-yaleblue);
	color: var(--color-onyx);
	/* width: 100%; */
}
.support-header {
	display: flex;
}
/* Turns We Support to Red */
/* inline block allows the alignment with heart icon but doesn't fill desktop */
.support-header h4{
	color: var(--color-amaranth);
}
/* Aligns heart icon to the end of Support header */
/* need small gap between icon and text */
.heart {
	display:inline-flex;
}

/* Turns paragraph to White */
.support-text p {
	color: var(--color-white);
}
/* Turns Title and Paragraph to Black */
.empowering h4{
	color: var(--color-onyx);
}
.empowering p {
	color: var(--color-onyx);
}
/* Adds Red Block behind this img - this changes in desktop version somehow */
.empowering-img{
	background-color: avar(--color-amaranth);
	width: cover;
}

/* ===================================
Section Styles (background, padding, etc.)
===================================
*/

/* 
===================================
Media Queries (overriding styles for different screen sizes)

Note: Here we are using a mobile-first approach, so we start with the smallest screen size and work our way up.
Start by writing styles for the mobile version of the design on the lines above.
Anything that needs to change for larger screens should be added to the media queries below.

Feel free to change the min/max-width values to whatever you need. Use variables.
===================================
*/

/* Tablet Only */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* Add styles that only apply to tablet. These are usually fixes to get resposnivenes right */
}

/* Tablet and Larger */
@media screen and (min-width: 768px) {
	/* Add styles that apply to table and desktop */
}

/* Desktop Only */
@media screen and (min-width: 1024px) {
	/* Add styles that apply specifically to desktop */
	body {
	width: var(--desktop-wrapper-width)
	}
	.hero {
		width: 100vw;
		height: 100vh;
		background-image: url(../assets/images/pages/values/hero-values.jpg);
		background-image: linear-gradient(260deg, rgba(9, 9, 9, 0.80) 46.9%, rgba(9, 9, 9, 0.00) 86.82%),url(../assets/images/pages/values/hero-values.jpg);;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.hero img {
        display: none;
    }
}
